.card{
    background-image: url(../../images/bgcard.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card2{
    background-image: url(../../images/bgcard2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-services{
    background-image: url(../../images/bg-services.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}